<a href="https://colab.research.google.com/github/Ruru04/DataScienceWork/blob/main/DataScienceEcosysytem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**


*   Popular languages used for Data science
*   Commonly used Libraries
*   Data science Tools 
*   Examples of evaluating arithmetic exprections

Some of the popular languages that Data Scientists use are:


1.   R
2.   Python
3.   SQL

Some of the commonly used libraries used by Data Scientists include:

1.   Pandas
2.   Matplotlib
3.   Scikit-Learn

| Data Science Tools | 
| -------------| 
| RStudio| 
| Apache Hadoop | 
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
## This will convert 200 minutes to hours by diving by 60

200/ 60

3.3333333333333335

## Author
Rutendo Macherera